ul{
    list-style:none;
    font-size: 18px;
    padding:0;
    position:absolute;
  }
  
  ul.out > li{
    display: inline-block;
    margin-right:15px;
  }
  
  ul li{
    position:relative;
  }
  
  ul ul{
    display:none;
    position:absolute;
    top:18px;
    left:-16px;
    font-size: 16px;
    padding-left:15px;
    padding-top:10px;
  }
  
  ul ul ul{
    position:absolute;
    top:-10px;
    left:40px;
  }
  
  ul 
  
  ul ul ul{
    font-size: 12px;
  }
  
  li:hover > ul{
    display:block;
    white-space:nowrap;
    color:black;
  }
  
  li:hover{
    color:orange;
  } 