.slider{
    width: 700px;
    height: 260px;
    position:relative;
    margin-left:30px;
  }
  
  .slider img{
    opacity:0;
    height: 100%;
    width: 100%;
    transition:1s;
    position:absolute;
  }
  
  .slider input:checked + img{
    opacity:1;
  }
  
  .indicators section{
    display:inline-block;
    width: 15px;
    height: 15px;
    position:relative;
  }
  
  .indicators label{
    display:inline-block;
    width: 12px;
    height: 12px;
    border-radius:50%;
    background-color: rgba(0,0,0,0.15);
    position:absolute;
    top:1600%;
    left:4000%;
    z-index:1;
  }
  
  .indicators label span{
    display:inline-block;  
    width: 6px;
    height: 6px;
    border-radius:50%;
    background-color: rgba(0,0,0,0.3);
    position:absolute;
    top:3px;
    left:3px;
  }
  
  label:hover span{
    display:inline-block;  
    width: 6px;
    height: 6px;
    border-radius:50%;
    background-color:white;
    position:absolute;
    top:3px;
    left:3px;
  }
  
  input:checked label span{
    display:inline-block;  
    width: 6px;
    height: 6px;
    border-radius:50%;
    background-color:white;
    position:absolute;
    top:3px;
    left:3px;
  }
  
  input:nth-of-type(1):checked ~ .indicators > section:nth-child(1) span,
  input:nth-of-type(2):checked ~ .indicators > section:nth-child(2) span,
  input:nth-of-type(3):checked ~ .indicators > section:nth-child(3) span,
  input:nth-of-type(4):checked ~ .indicators > section:nth-child(4) span,
  input:nth-of-type(5):checked ~ .indicators > section:nth-child(5) span{
    display:inline-block;  
    width: 6px;
    height: 6px;
    border-radius:50%;
    background-color:white;
    position:absolute;
    top:3px;
    left:3px; 
  }
  